@import "tailwindcss";
:root {
  --bg: #f9fafb;
  --text: #111827;
  --font-inter: inter;
  --bg-gray: #f3f4f6;
  --bg-white: #ffffff;
  --text-color: #1fa45b;
  --text-size: 16px;
  --arabic-font-face: kfgq;
  --arabic-font-size: 26px;
}

@font-face {
  font-family: "KFGQPC";
  src: url("/fonts/UthmanTSBVer1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.arabic-text {
  font-family: "KFGQPC", serif;
}
